.logo{
    height: 5em;
    width: 5em;
}
:root{
--letraRubik:'Rubik', sans-serif;
--colorfondo:rgb(54, 53, 53);;
}

footer{
    background-color: var(--colorfondo);
    color: #ffffff;
    font-family: var(--letraRubik);
    font-size: 25px;
    height: 5em;
    text-align: center;
    padding: 1em;
}
footer a{
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    
}
